/************* Header **************/
* {
  color: #000;
}

h1 {
  color: #000;
  font-size: 36px !important;
  text-transform: uppercase;
  margin-top: 3rem !important;
  margin-bottom: 4rem !important;
  font-weight: 700 !important;
}

.mrgnTop-botm {margin-top: 2rem; margin-bottom: 4rem;}

/* TOP BAR */
.top-bar {
  background: #fef7f6;
  font-size: 12px;
}
.top-bar .top-left span:nth-child(1) { padding-right: 1rem;}
.top-bar .top-right span:nth-child(2) {padding-left: 1rem; padding-right: 1rem;}

/* NAV BAR */
h2.logo-text {
  font-size: 42px;
  font-weight: 600;
}
.menu-block .menu-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.menu-block .menu-bar li.nav-item a {
  padding: 0px 15px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
/* BANNER */
.banner-block {
  background-image: url('./Home/components/images/bg-1.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
}
.banner-block .left-content {padding-bottom: 5rem;}
.banner-block .left-content p {
  color: #565656;
  font-size: 18px;
  padding-top: 2rem;
  margin-bottom: 0;
  letter-spacing: 3px;
}
.banner-block .left-content h2 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 2.5rem;
}
.btn-common {
  color: #fff !important;
  background: #ff5353 !important;
  height: 50px;
  width: 172px;
  font-weight: 600 !important;
  letter-spacing: 1px;
}

.banner-img {
  width: 100%;
  height: 470px;
}

/* FEATURED PRODUCT */
.featured-item .product-content h5 {
  font-size: 14px;
  color: #9b88a3;
}
.featured-item .product-content .star {color: #ff5b53;}
.featured-item .product-content p {color: #000; font-weight: 600;}
.featured-item .product-item, .cart-product {position: relative;}
.featured-item .product-item .links a:nth-child(2) {margin-left: 8px; margin-right: 8px;}

.featured-item .product-item .links { 
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-item .product-item .links a {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
}
.featured-item .product-item .links a i,
.offer-block .left-Block .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart-product > span > i { font-size: 22px; color: #000;}
.cart-product > span > i.fa-shopping-cart { padding-right: 18px; padding-left: 18px;}
.cart-product > .cart-length,
.cart-product > .heart-count{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff5353;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.cart-product > .cart-length > span,
.cart-product > .heart-count > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}
.cart-product > .cart-length {
  position: absolute;
  right: 10%;
}
.cart-product > .heart-count {left: 94%;}

/* 50% OFF */
.offer-block {background-color: #eae2d8;}
.common-margin {margin-top: 2rem; margin-bottom: 2rem;}
.offer-block .left-Block {position: relative;} 
.offer-block .left-Block .content h2 {font-size: 50px; margin-bottom: 0;}

.offer-block .left-Block .content p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 1px;
}

/* MOST POPULAR PRODUCT */
.most-popular-block h1 {margin-top: 1rem !important;}

/* FEATURE BOX */
.feature-box {
  border: 1px solid #ebeef0;
  padding: 30px;
  margin-top: 3rem;
}
.feature-box h5 { font-size: 16px; padding-top: 20px;}
.feature-box p {color: #9b888f;}
.img-width {width: 350px; max-width: 100%;}

/* SILON */
.silon-journal-block .date span:nth-child(1) {
  color: #ff5353;
  font-size: 20px;
  font-weight: 800;
}
.silon-journal-block .silon-comments span:nth-child(2) {padding-left: 30px;}
.silon-journal-block span,
.silon-journal-block span i {color: #888888; font-size: 14px;}

/* FOLLOW US */
.overlay-block a {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-block a:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 83, 83, 0.7);
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.overlay-block a i {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.overlay-block a:hover::before {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.overlay-block a:hover i {
  opacity: 1;
  visibility: visible;
}

/* FOOTER */
.footer-block {
  background: #e9e2d8;
  padding-top: 4rem;
}
ul.useful-links {
 list-style-type: none;
}
ul.useful-links li {padding-bottom: 10px;}
ul.useful-links h5,
.experiance-app h5,
.experiance-app .online-shopping { 
  font-size: 14px; 
  font-weight: 700;
  margin-bottom: 15px;
}
ul.useful-links li a {
  text-decoration: none; 
  color: #888888;
  font-size: 14px;
}
ul.useful-links li a:hover {color: #ff5b53;}
.copyright-text hr, .experiance-app hr {color: #9b88a3;}
.copyright-text .footer-copyright-text {color: #958888; font-size: 14px;}
.copyright-text .footer-copyright-text > span {color: #ff5353;}
.experiance-app hr {margin: 1.5rem 0rem;}

.experiance-app .btn { 
  font-size: 12px;
  width: 126px;
}
.experiance-app .left{ background: #fff; margin-right: 5px;}
.experiance-app .right{ background: #ff5353; color: #fff;}

.experiance-app .btn > .fas {
  color: #ff5353;
  padding-right: 5px;
}
.experiance-app .btn > .fab {
  color: #fff;
  padding-right: 5px;
}

.social-icons a {
  background: #fff;
  padding: 10px;
  margin: 5px;
}
.social-icons a:hover {background: #ff5b53;}
.social-icons a i:hover { color: #fff;}

/******** MEDIA QUERY *********/
@media(max-width: 768px) {
  h1 {
    font-size: 30px !important;
    margin-bottom: 3rem !important;
  }
  h2.logo-text {font-size: 36px;}
  .menu-block .menu-bar li.nav-item a {padding: 0px 10px;}
  .banner-block .left-content h2 {font-size: 22px; margin-bottom: 1.5rem;}
  .featured-item .product-item .links a {width: 30px; height: 30px;}
  .banner-block .left-content p {padding-top: 0; font-size: 14px;}
  .banner-block .left-content {padding-bottom: 0;}
  .offer-block .left-Block .content h2 {font-size: 26px;}
  .offer-block .left-Block .content p {padding: 1rem 0rem; font-size: 16px;}
  .silon-journal-block span, .silon-journal-block span i {font-size: 12px;}
  .social-icons a {margin: 3px;}
  .experiance-app hr {margin: 1rem 0rem;}

}
@media(max-width: 600px) {
  h2.logo-text {font-size: 26px;}
  .menu-block .menu-bar {
    display: block;
    padding-left: 0;
    padding-top: 18px;
  }
  .banner-block .left-content p {padding-top: 0;}
  .top-bar .top-right {text-align: left !important; padding-top: 5px;}
  .offer-block .left-Block .content {position: relative; padding-bottom: 2rem;}
  .cart-product > span > i {font-size: 18px;}
  .cart-product > .cart-length {right: 25%;}
  .cart-product > .heart-count {left: 80%;}
  .banner-block .left-content {padding-bottom: 30px;}
  .silon-journal-block img {width: 100%;}
  .silon-journal-block .mb-4:last-child {margin-bottom: 0 !important;}
}